dot.zsh/.zcompdump
dot.zsh/cdd_pwd_list*
dot.subversion/auth/
dot.config/autostart/
dot.config/chromium/
dot.config/compiz/
dot.config/enchant/
dot.config/gtk-2.0/
dot.config/menus/
monitors.xml
dot.vim/GetLatest/Installed
