# Override this only on machines where 1Password installs the SSH signer in
# AppData rather than the default Program Files location.
#[gpg "ssh"]
#  program = /mnt/c/Users/kenchan/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe
